@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100;200;300;400&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #1b2735, #090a0f);
    background-size: 100% 500%;
    animation: degrade-animado 5s infinite alternate;
}

@keyframes degrade-animado {
    0%{
        background-position-y: 0%;
    }
    100%{
        background-position-y: 100%;
    }
}

/* seção destinada ao navbar */

#navbar {
    margin-left: 15px;
    padding: 15px;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    height: 110px;
    transition: all 0.42s;
}

#navbar h2 {
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navmenu {
    display: flex;
}

.navmenu a {
    color: #ccc;
    font-size: 15px;
    text-transform: capitalize;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: 400;
    transition: all 0.42s ease;
    align-items: center;
}

/* corpo do site */

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: transparent;
    color: #ccc;
    border-radius: 8px;
    box-shadow: 0 0 40px 10px #00ffff3b
}

.container h2 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.informacoes,
.feedback {
    margin-top: 30px;
}

.feedback textarea {
    width: 100%;
}

/* seção destinada ao footer */

footer {
    position: relative;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .social-icon, footer .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social-icon li, footer .menu li {
    list-style: none;
}

footer .social-icon li a {
    font-size: 2em;
    color: #ccc;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social-icon li a:hover {
    transform: translateY(-10px);
}

footer .menu li a {
    font-size: 1.2em;
    color: #ccc;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
}

footer .menu li a:hover {
    opacity: 1;
}

footer p {
    color: #ccc;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}